*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.logo h2{
    font-size: 45px;
font-weight: bold;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/*main*/
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat;
    
}
nav{
    width: 60%;
    max-width: 1140px;
   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    
}
nav .menu{
    display: flex;
    gap: 51px;
    align-items: center;
    
}
nav .menu a{
    font-size: 20x;
    text-decoration: none;
    color: #474747;
}
#banner{
   
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5PX;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content:space-around;

}
.about-info .info-card p{
     font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
    
}
#skills{
    padding-top: 130px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;


}
.skill-card img{
   max-width: 44px;
   margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card P{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#resume{
    padding: 130px;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
display: flex;
gap: 24px;
}
.resume-container .section-title{
    font-size: 30pxpx;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
    
}
.card-title{
    font-size: 25px;
    gap: 10px;
    margin-bottom: 10px;
    color: #474747;
    
}
.card-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 10px;
    color: #757575;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}
hr{
    margin: 30px 0;
}
footer{
     margin-top: 130px;
     background-color: #FFF8F3;
     padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;

}
.footer-container .social{
    max-width: 562px;

}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container p{
    font-size: 16;
    color: #474747;
    line-height: 28px;
}
.icon a{
    margin-right: 24px;
}
form input[type="text"],textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}


.hide{
    display: none !important;
}
@media screen and (max-width:576px){
    #skills {
    padding-top: 60px;
}
#skills .skills-container{
    width: 95%;
    
}
.section-heading h2 {
    font-size: 30px;
    
}
#skills .skills-container .skills-box,.resume-container,nav {
    display: flex;
    flex-direction: column;
}
.skills-box .skill-card {
    
    max-width: 100%;
    
}
#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 20px;
}
#about .about-container .about-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
footer .footer-container {
    
    display: flex;
    flex-direction: column;
    gap: 116px;
}
form input[type="text"], textarea {
    width: 100%;
    
    border: none;
    border-radius: 5px;
    color: #757575;
}
.resume-container{
    margin-top: 60px;
}
.resume-card {
    max-width: 511px;
    margin-right: 10px;
}
nav{
    gap:20px
}
nav .menu{
    flex-wrap: wrap;
    justify-content: center;
}
#banner {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
}
#banner .banner-image img {
    width: 100%;
    vertical-align: middle;
}
#banner .banner-content h1 {
    font-size: 44px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.btngrp{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
header {
    background-color: #FFF8F3;
    background:  url(../images/header_bg.png), #FFF8F3;
    background-position:  bottom right;
    background-repeat: no-repeat;
}
}